<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title}} </title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
    <header>
<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        {% if 'email' in session %}
            <li><a href="{{ url_for('energy') }}">Energy</a></li>
            <li><a href="{{ url_for('carbon_footprint') }}">Carbon</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('booking') }}">Booking</a></li>
            <li><a href="{{ url_for('account') }}">Account</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>

    {% block header %}
    {% endblock %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Company Logo" class="footer-logo-img">
            </div>
            <div class="footer-links">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('energy') }}">Energy</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-social-media">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="https://www.facebook.com/" aria-label="Facebook"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook"></a>
                    <a href="https://x.com/?lang=en" aria-label="Twitter"><img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Twitter"></a>
                    <a href="https://www.instagram.com/" aria-label="Instagram"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Rolsa Technologies. All rights reserved.</p>
